<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.securitydemo.dao.UserMapper">
    <resultMap id="book" type="com.jie.securitydemo.bean.User">
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="passwd" property="passwd" jdbcType="VARCHAR"/>
        <result column="birth" property="birth" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="hobby" property="hobby" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUser" resultType="com.jie.securitydemo.bean.User" >
        select * from user_table;
    </select>

</mapper>